<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeedSeeker.Web.Test.Functional.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeedSeeker.Web.Test.Functional.Properties.Settings>
            <setting name="RootUrl" serializeAs="String">
                <value>http://alpha.weedseeker.net/</value>
            </setting>
            <setting name="UseFiddler" serializeAs="String">
                <value>True</value>
            </setting>
        </WeedSeeker.Web.Test.Functional.Properties.Settings>
    </userSettings>
</configuration>